.hidden {
    display: none;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
button {
    margin-left: 5px;
}
.alert {
    margin-bottom: 10px;
}
.alert-success {
    color: green;
}
.alert-danger {
    color: red;
}
h1 {
    display: inline-block;
    margin: 0;
    min-width: 300px;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}
.add-comment button {
    font-weight: bold;
    margin-top: 10px;
}
.add-comment h2 {
    margin-top: 9px;
}

.table .tr {
    /* display: flex; */
    margin: 10px 0 10px;
}
.thead .tr:first-of-type {
    margin: 30px 0 20px;
    font-weight: 700;
    font-size: 1.1rem;
}
.table .th {
    text-align: left;
    /* width: 33%; */
}
tr.comment {
    height: 1.2em;
}
.comment-text .ctrls {
    text-align: end;
}
.comment-text span {
    display: inline-block;
}
.comment-text > span {
    margin: 15px 0 15px;
}
.comment p {
    margin-bottom: 5px;
    margin-top: 10px;
}
svg {
    width: 1em;
    height: 1em;
}
.user-data {
    display: flex;
    align-items: center;
    background: #d3d3d347;
}
.user-pic img {
    width: 45px;
    height: 45px;
    border: 2px solid white;
    margin: 5px;
}
.user-data .user-name {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}
.user-data .date {
    font-size: 14px;
}
.user-pic img:not(.txt) {
    border-radius: 50%;
}
.navi nav div:first-of-type {
    text-align: center;
}
.navi nav div:first-of-type span,
.navi nav div:first-of-type a {
    margin: 15px;
}
form label {
    display: inline-block;
    min-width: 100px;
}
form .captcha-label {
    float: left;
}
form .wrap {
    width: 30%;
    float: left;
    margin-left: 4px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 10px;
}
.cancel {
    margin-left: 15px;
}
